# Entorno virtual
.venv/
venv/
ENV/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de configuraciones del sistema
.DS_Store
Thumbs.db
